In [1]:
import pandas as pd

In [2]:
news_data = pd.read_csv("Data/news_data.csv")

In [3]:
news_data.head()

,category,datetime,headline,id,image,related,source,summary,url
0,company,1697909459,Humanoid robots face a major test with Amazon'...,123320327,https://techcrunch.com/wp-content/uploads/2023...,AMZN,Yahoo,Announced amid a deluge of news at this week’s...,https://finnhub.io/api/news?id=8cb32870bb15be8...
1,company,1697896800,"3 Stocks That Turned $1,000 Into $1.1 Million ...",123315781,NaN,MNST,Yahoo,Consumer products have proven themselves to be...,https://finnhub.io/api/news?id=d75d610543b91f1...
2,company,1697896800,The U.S. Cities With the Most Cutting-Edge Tec...,123315249,https://s.yimg.com/ny/api/res/1.2/kLEZByvMTM7D...,WMT,Yahoo,The Seattle area has the highest proportion of...,https://finnhub.io/api/news?id=faca644c2f7e4e6...
3,company,1697895295,Dow Jones Futures: Market Point Break? Microso...,123315250,https://media.zenfs.com/en/ibd.com/ec8365e261a...,MSFT,Yahoo,"Microsoft, Meta and Google lead a massive wave...",https://finnhub.io/api/news?id=6c9b9cc8fb7f9ec...
4,company,1697890800,Rivian (NASDAQ:RIVN): Wall Street Loves This E...,123319798,NaN,TSLA,TipRanks,Looking for stock market analysis and research...,https://finnhub.io/api/news?id=fe0b89552f14e89...

In [4]:
news_data.drop(columns=['category','image','url','id','source'], inplace=True)

In [5]:
news_data.columns

Index(['datetime', 'headline', 'related', 'summary'], dtype='object')

In [7]:
news_data.shape

(757, 4)

In [8]:
news_data.head()

,datetime,headline,related,summary
0,1697909459,Humanoid robots face a major test with Amazon'...,AMZN,Announced amid a deluge of news at this week’s...
1,1697896800,"3 Stocks That Turned $1,000 Into $1.1 Million ...",MNST,Consumer products have proven themselves to be...
2,1697896800,The U.S. Cities With the Most Cutting-Edge Tec...,WMT,The Seattle area has the highest proportion of...
3,1697895295,Dow Jones Futures: Market Point Break? Microso...,MSFT,"Microsoft, Meta and Google lead a massive wave..."
4,1697890800,Rivian (NASDAQ:RIVN): Wall Street Loves This E...,TSLA,Looking for stock market analysis and research...

In [9]:
print(news_data['datetime'].dtype)

int64

In [10]:
filename = "Data/historical_stock_prices.csv"

In [11]:
prices = pd.read_csv(filename)

In [12]:
prices.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2022-11-28,128.110001,128.580002,124.120003,124.639999,117.534454,2773500,MMM
1,2022-11-29,124.080002,126.339996,124.010002,126.129997,118.939507,1863100,MMM
2,2022-11-30,125.900002,126.250000,121.360001,125.970001,118.788635,5830600,MMM
3,2022-12-01,127.300003,128.869995,125.309998,125.989998,118.807487,2638800,MMM
4,2022-12-02,124.760002,127.250000,124.239998,126.989998,119.750481,1821900,MMM

In [20]:
ticker = 'AAPL'

In [39]:
x = prices[(prices['Date'] == '2022-11-28') & (prices['Ticker'] == ticker)].to_dict()

In [44]:
timestamp = 1669701900

In [41]:
from datetime import datetime

In [45]:
exact = datetime.fromtimestamp(timestamp)

In [46]:
print(str(exact.date()))

2023-10-21

In [49]:
stock_data_1 = prices[(prices['Date'] == str(exact.date())) & (prices['Ticker'] == ticker)]

In [50]:
stock_data_1

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, Ticker]
Index: []

In [40]:
x

{'Date': {10500: '2022-11-28'},
 'Open': {10500: 145.13999938964844},
 'High': {10500: 146.63999938964844},
 'Low': {10500: 143.3800048828125},
 'Close': {10500: 144.22000122070312},
 'Adj Close': {10500: 143.41835021972656},
 'Volume': {10500: 69246000},
 'Ticker': {10500: 'AAPL'}}